.navbar-inverse {
    background-color: #003f4f;
    border-color: #003f4f;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #00718b;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #00718b;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #ffffff;
    background-color: #00718b;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #00718b;
    outline: 0;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #00718b;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #003f4f;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #00718b;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #ffffff;
    background-color: #00718b;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #ffffff;
    background-color: #00718b;
}

.navbar-brand {
    padding: 0 0 0 54px;
    height: 50px;
    line-height: 50px;
    background-image: url(logo.png);
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px center;
}

.label-default {
    background-color: #003f4f;
}

.label {
    padding: .0em .0em .0em;
    font-size: 65%;
    font-weight: 100;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
    vertical-align: sub;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
    color: #003f4f;
}